{% extends "encyclopedia/layout.html" %}
{% load widget_tweaks %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Edit {{ form.title.value }}</h1>
        </div>
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            <div class="row">
                <label for="{{ form.title.label }}">{{ form.title.label }}</label>
                {% render_field form.title|append_attr:"readonly:readonly" value=title class+="form-control mytitle"  %}
            </div>
            
            <div class="row">
                <label for="{{ form.content.label }}">{{ form.content.label }}</label>
                {% render_field form.content class+="form-control textareaOutput" %}
            </div>
            <br>
            <div class="row">
                <input type="submit" value="Update" class="btn btn-info">
            </div>
        </form>
    </div>
    
{% endblock %}